
@use "variaveis" as v;

#contato{
    display: flex;
    flex-direction: column;
    & h2{
        align-self: center;
        color: white;
        margin: 32px 0;
    }
    &-container{
        height: 80%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &-lista{
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        gap: 12px;
    }
    button{
        color: white;
        height: 60px;
        width: 445px;
        background-color: rgba(v.$dark-color, 0.75);
        backdrop-filter: blur(10px);
        border-radius: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: solid 2px black;
        &:hover{
            cursor: pointer;
        }
    }
}
