@use 'variaveis' as v;

#home {
  position: relative;
  background: linear-gradient(to bottom, v.$primary-color 33%, #ffff 33%);;
  height: 100dvh;
  display: flex;
  flex-direction: column-reverse;
}

#avatar {
  position: absolute;
  top: 33%;
  left: 50%;
  transform: translate(-50%, -60%);
  height: v.$avatar-size-mobile;
  width: v.$avatar-size-mobile;
  z-index: 10;
  border-radius: 50%;
  border: 2px solid black;
}

#home-direita {
  height: 50vh;
  nav{
    display: none;
  }
}

#home-esquerda {
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;


  #apresentacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 16px;

    h1 {
      margin: 0 0 28px 0;
      font-size: v.$font-xl;
    }
    p {
      margin: 0;
      font-size: v.$font-lg;
    }
  }

  #botoes {
    display: flex;
    margin: 32px 0 48px 0;
    z-index: 3;

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid black;
      border-radius: 16px;
      height: 50px;
      width: 50px;
      box-shadow: -4px 4px black;
      & + a {
        margin-left: 20px;
      }

      &#github-home {
        background-color: v.$github-black;
        img {
          height: 30px;
          width: 30px;
        }
      }

      &#linkedin-home {
        background-color: v.$linkedin-blue;
        img {
          height: 46px;
          width: 46px;
        }
      }

      &#gmail-home {
        background-color: v.$gmail-gray;
        img {
          height: 38px;
          width: 38px;
        }
      }
    }
  }
  #conheca-projetos {
    display: inline-block; 
    text-decoration: none;
    z-index: 3;

    font-size: v.$font-md;
    padding: 10px 16px;
    border-radius: 16px;
    font-weight: 700;
    border: 2px solid #3e0e86;
    background-color: v.$primary-color;
    color: white;
    box-shadow: -2px 2px 0 #3e0e86;
    cursor: pointer;

    &:hover {
      background-color: #3e0e86;
    }
  }
}

@media (min-width: 993px) {
  #home {
    background: none;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
  }

  #avatar {
    top: 45%;
    left: 65%;
    transform: translate(-50%, -50%);
    height: v.$avatar-size;
    width: v.$avatar-size;
  }

  #home-direita {
    height: 100%;
    width: 100%;
    nav{
      display: block;
      ul {
        margin: 24px 0 0;
        padding: 0;
        display: flex;
        font-weight: 700;
        justify-content: flex-end;
        margin: 42px 0 0;
        li {
          list-style: none;
          margin-top: 8px;
          margin-left: 24px;
          a {
            color: v.$light-color;
            text-decoration: none;
            font-size: v.$font-sm;
            &:hover, &[href="#home"] {
              text-decoration: underline;
              text-decoration-thickness: 2px;
              text-underline-offset: 8px;
            }
          }
        }
      }
    }
  }

  #home-esquerda {
    margin: 25vh 0;
    align-items: flex-start;

    #apresentacao {
      margin-left: 122px;
      width: 550px;
      align-items: flex-start;
      text-align: left;
      padding: 0;

      h1 {
        margin-bottom: 0;
      }
    }

    #botoes {
      margin: 32px 0 32px 122px;

      a {
        margin-right: 24px;
        & + a {
          margin-left: 0;
        }
      }
    }
    
    #conheca-projetos{
        margin: 8px 0 0 122px;
    }
  }}