@use 'variaveis' as v;

#projetos{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    h2{
        color: white;
        display: flex;
        justify-content: end;
        padding-inline-end: 210*2.5px;
    }
}
#carrossel {
  position: relative;
  overflow: visible;
  scroll-behavior: smooth;
  display: flex;
  align-items: center;

  .slides {
    display: flex;
    gap: 48px;
    transition: transform 0.4s ease;
    padding-inline: 48px;
  }

  .carrossel-item {
    position: relative;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: v.$dark-color;
    height: 500px;
    width: 700px;
    border-radius: 24px;
    &:hover{
      transform: scale(1.03);
      transform-origin: center center;
      transition: transform 0.3s ease;
      cursor: pointer;
    }
    .item{
      height: 100%;
      width: 100%;
      left: 50%;
      top: 0%;
      display: flex;
      flex-direction: column;
      &-imagem{
        align-self: center;
        background-color: white;
        height: 350px;
        width: 670px;
        border-radius: 12px;
        margin: 12px;
      }
      &-titulo{
        margin: 0 24px;
        color: white;
      }
      &-tecnologias{
        margin: 12px;
        .imagem-tecnologia{
          height: 50px;
          width: 50px;
          background-color: white;
          margin: 12px;
          border-radius: 100%;
          object-fit: contain;
          padding: 5px;
          box-sizing: border-box;
        }
      }
    }
  }

  .btn-navegacao {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 2rem;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    z-index: 10;

    &.esquerda {
      left: 0;
    }

    &.direita {
      right: 0;
    }
  }
}

a[name='galeria']{
    align-self: center;

    button{
    align-self: center;
    margin: 0 8px 0 0;
    height: 32px;
    border-radius: 8px;
    font-weight: 600;
    width: 100px;
    padding: 8px;
    border: 2px solid v.$dark-color;
    background-color: white;
    box-shadow: -2px 2px 0 v.$dark-color;
    color: v.$dark-color;
    &:hover{
        background-color: v.$dark-color;
        color: white;
        cursor: pointer;
        }
    }
}
