@use "variaveis" as v;

#sobre{
    background: linear-gradient(to bottom, v.$primary-color, v.$dark-purple-color );
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#cartao{
    margin: 90px 0 0 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 90%;
    background-color: rgba(v.$dark-color, 1);
    border: solid 2px black;
    border-radius: 16px;
    padding:  140px 32px 24px;
    overflow: visible;
    position: relative;
    p, h2{
        color: white;
        padding: 16px;
    }
}

.foto-container {
    position: absolute;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 auto;
}

#perfil{
    height: 250px;
    width: 250px;
    align-self: center;
    background-color: white;
    border-radius: 50%;
}
#brasao {
  position: absolute;
  bottom: -10px;
  right: -10px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 8px;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    }
}

@media (min-width: 993px){
    #sobre{
        background: none;
    }
    #cartao{
        padding:  140px 32px;
    }
}