$primary-color: #7D53FF;
$dark-purple-color: #4637c9;
$light-color:  #EFEFEF;
$dark-color: #242834;
$secondary-color: #8EFF00;

$github-black: #2A2A2A;
$linkedin-blue: #0288D1;
$gmail-gray: #F0EFEF;

$altura-max: 300vh;

