@use 'variaveis' as v;
@use 'home';
@use 'projetos';
@use 'habilidades';
@use 'sobre';
@use 'contato';

* {
    margin: 0;
    padding: 0;
}

html, body{
    background-color: v.$dark-color;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: transparent;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

h1{
    font-size: 40px;
}
#container{    
    position: relative;
    min-height: 100vh;
}
#fundo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
                                180deg,
                                v.$dark-purple-color 0%,
                                v.$primary-color 10%,
                                v.$primary-color 65%,
                                v.$dark-purple-color 100%
                                );

    clip-path: polygon(100% 0%, 50% 0%, 75% 10%, 0% 40%, 0% 100%, 100% 100%, 100% 40%, 75% 30%, 100% 20%);
    z-index: -1;
}
.coluna-dupla{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}