$primary-color: #8B32F4;
$dark-purple-color: #5320A6;
$light-color:  #F0EFE9;
$dark-color: #0E0D0D;

body{
    background-color: $dark-color;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    background-color: white;
    width: 100vw;
}

h1{
    font-size: 40px;
}

nav ul{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: end;
    margin-inline-end: 210px;
    li {
        margin: 8px 16px 0 0;
        list-style: none;
        a{
            text-decoration: none;
            color: $light-color;
            font-weight: 500;
            &:hover{
                text-decoration: underline;
            }
        }
    }
}
#apresentacao{
    margin: 0 0 0 5vw;
    p, h1{
        margin: 0;
    }
    p{
        font-size: 24px;
    }
}
#botoes{
    margin: 8px 0 0 5vw;
    button{
        margin: 0 8px 0 0;
        height: 32px;
        border-radius: 8px;
        font-weight: 600;
        &[name="conheca-projetos"]{
            border: 2px solid $dark-purple-color;
            background-color: $primary-color;
            box-shadow: -2px 2px 0 #3e0e86;
            color: white;
            &:hover{
            background-color: #3e0e86;
            cursor: pointer;
        }
        }
        &[name="contato"]{
            border: 2px solid $dark-color;
            background-color: transparent;
            box-shadow: -2px 2px 0 $dark-color;
            color: $dark-color;
            &:hover{
            background-color: $dark-color;
            color: white;
            cursor: pointer;
        }
        }
        
    }
}

#container{
    width: 100%;
    background-color: white;
    margin: 0 0 0 10%;
}
#home{
    display: flex;
    justify-content: space-between;
    height: 100vh;
}
#home-esquerda{
    margin: 25vh 0;
}
#home-direita{
    height: 100%;
    width: 70%;
}

#fundo{
  height: 100%;
  width: 100%;
  background: linear-gradient(135deg, #6f00ff, #b44bff);
  clip-path: polygon(100% 0%, 0% 0%, 40% 50%, 0% 100%, 100% 100%);
}

img{
    position: absolute;
    bottom: 50%;
    left: 60%;
    transform: translate(-50%, 50%);
    height: 300px;
    width: 300px;
    z-index: 10;
}
